@media (hover: hover) {
    #image-input:hover:enabled + label i,
    .button-send:hover:enabled i {
        color: var(--feature-color, #02a19b);
      scale: 1.1;
    }
  
    .chat-link:hover {
      background: transparent;
      color: var(--dark-blue, #05031D);
      border-color: var(--dark-blue, #05031D);
    }
}

@media (max-width: 768px) {
    body {
        height: 100dvh;
    }
    .title {
        display: none;
    }
    .main {
        position: relative;
        width: 100%;
        min-width: 350px;
        height: 100dvh;
        padding: 0;
        overflow: hidden;
    }
    .chat {
        height: unset;
        flex-grow: 1;
    }
    .message-form {
        min-height: 64px;
    }
    .online {
        /* display: none; */
        --top: 0px;
        position: absolute;
        width: 50%;
        height: calc(100dvh - var(--top) - 64px);
        border-radius: 0;
        top: var(--top);
        left: -100%;
        color: #eee;
        transition: all 0.6s ease-in-out
    }    
    .online.show {
        left: 0;
    }
    .online-close {
        display: block;
    }
    .online__total {
        background-color: var(--online-bgc, #0c0c0c);
        color: #eee;
    }
    .online__total::before {
        content: '';
        background-color: #eee;
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        bottom: 0;
    }

    .online__list {
        background-color: var(--online-bgc, #0c0c0c);
        color: inherit;
    }
    .online__list::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--feature-color, #02a19b)
    }
    .online__user {
        background-color: var(--online-bgc, #0c0c0c);
    }
    .online__user-name {
        color: var(--feature-color, #02a19b);
    }
    .online__user-img {
        border: 1px solid var(--feature-color, #02a19b);
    }
    .online__user::after {
        background-color: #eee;
        height: 0.5px;
        left: 4px;
        right: 8px;
    }
    .online__footer {
        display: none;
        background-color: var(--online-bgc, #0c0c0c);
    }

    .kebab-online {
        display: flex;
    }
}

@media (max-width: 576px) {
    .main {
        padding: 4px 2px 0px 2px;
    }
    .chat {
        border: none;
        border-radius: 0;
    }
    .online {
        /* display: none; */
        --top: 4px;
        width: 100%;
        border-radius: 0;
    }
}